/************************************************************************************************************************************************
************************************************************************************************************************************************
************************************************************************

Filename: style.css
Author: Nausheen Salauddin
Student Number: 0805026
Date: 25-11-2022
Copyright: 2022 - All rights reserved

************************************************************************
**********************************************************************
**********************************************************************/

body {
    background-color: rgb(238 149 149);
}

h1 {
    font-size: 3em;
    font-family: 'Work Sans', sans-serif;
    color: white;
    text-align: center;
    margin: 5px 0px;
}

h2 {
    font-size: 2.5em;
    font-family: 'Work Sans', sans-serif;
    color: white;
    text-align: center;
    margin: 5px 0px;
}

form {
    margin: 20px 35%;
    width: 80%;
}

label {
    font-size: 22px;
    color: white;
    display: block;
}

input, select{
    margin: 15px 10px;
    padding: 7px;
    border-radius: 5px;
    border: 0;
}

input :not(input[type=checkbox]) {
    width: 40%;
}

#termLabel {
    display: inline;
}

input:focus {
    outline: none;
}

#submit {
    display: block;
    width: 30%;
    height: 2.5em;
    align-self: center;
    border-radius: 100px;
    border: 0;
    background-color: rgb(232 108 108);
    color: white;
    font-weight: bold;
    text-align: center;
    font-family: 'Work Sans', sans-serif;
    cursor:pointer;
    font-size: 20px;
}

.disabled{
    background-color: lightgray!important;
}









