/*
    Filename: style.css
	Author: Nausheen Salauddin
	Student Number: 0805026
	Date: 19-11-2022
 */

body {
    background-color: bisque;
}

h1 {
    text-align: center;
}

label {
    font-weight: bold;
    font-size: 18px;
}

input {
    margin-left: 10px;
    border: 2px solid rgb(87, 54, 5);
    width: 20%;
    padding: 5px;
}

table {
    margin: 20px auto;
    border: 2px solid rgb(87, 54, 5);
}

td {
    width: 10%;
    
}

thead th a {
    font-weight: bold;
    font-size: 20px;
    color: rgb(87, 54, 5);
    cursor: pointer;
}

td:nth-of-type(3) {
    width: 30%;
}

button {
    width: 20%;
    margin: 5px;
    padding: 8px;
    float: right;
    background-color: burlywood;
    border: 2px solid rgb(87, 54, 5);
    color: rgb(87, 54, 5);
    font-weight: bold;
    cursor: pointer;
}

table thead tr th:after {
	position: absolute;
	right: 2px;
}

a.ascending::after {
	content: "\25B2";
}

a.descending:after {
	content: "\25BC";
}

a.no-sort:after {
	content: "";
}